<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="XuLy.Properties.Settings.QLBenhNhanConnectionString"
            connectionString="Data Source=DESKTOP-LP0F0PV;Initial Catalog=QLBenhNhan;User ID=sa;Password=DoCaoHuy"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>